In [17]:
import pandas as pd
df=pd.read_csv("data.csv")

In [43]:
df1=df[df.AggregationType=='Annual mean / 1 calendar year']
df1

,CountryOrTerritory,ReportingYear,UpdateTime,StationLocalId,SamplingPointLocalId,SamplingPoint_Latitude,SamplingPoint_Longitude,Pollutant,AggregationType,Namespace,Unit,BeginPosition,EndPosition,Validity,Verification,DataCoverage,DataCapture,TimeCoverage,AQValue
18897,Austria,2013,2020-01-08T16:54:38.703333Z,STA.05.2000,SPO.05.2000.1365.1.1,47.683056,13.100000,Sulphur dioxide (air),Annual mean / 1 calendar year,AT.0008.20.AQ,ug.m-3,2013-01-01,2014-01-01,Valid,Verified,95.399543,95.399543,100.000000,3.882676
18898,Austria,2013,2020-01-08T16:54:38.703333Z,STA.09.STAD,SPO.09.STAD.1539.1.1,48.226361,16.458345,Sulphur dioxide (air),Annual mean / 1 calendar year,AT.0008.20.AQ,ug.m-3,2013-01-01,2014-01-01,Valid,Verified,95.296804,95.296804,100.000000,3.955475
18899,Austria,2013,2020-01-08T16:54:38.703333Z,STA.06.136,SPO.06.136.1415.1.1,47.120278,15.351111,Sulphur dioxide (air),Annual mean / 1 calendar year,AT.0008.20.AQ,ug.m-3,2013-01-01,2014-01-01,Valid,Verified,95.582192,95.582192,100.000000,3.274889
18900,Austria,2013,2020-01-08T16:54:38.703333Z,STA.10.ENK1,SPO.10.ENK1.3569.1.1,48.391720,13.671140,Sulphur dioxide (air),Annual mean / 1 calendar year,AT.0008.20.AQ,ug.m-3,2013-01-01,2014-01-01,Valid,Verified,94.965753,94.965753,100.000000,0.951642
18901,Austria,2013,2020-01-08T16:54:38.703333Z,STA.10.VOR1,SPO.10.VOR1.126.1.1,46.678611,12.974444,Sulphur dioxide (air),Annual mean / 1 calendar year,AT.0008.20.AQ,ug.m-3,2013-01-01,2014-01-01,Valid,Verified,94.703196,94.703196,100.000000,0.283991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1142090,Serbia,2015,2019-03-20T09:18:12.92Z,STA-RS0038A,SPO-RS0038A_00010_100,44.717490,21.173399,Carbon monoxide (air),Annual mean / 1 calendar year,RS.SEPA.AQ,mg.m-3,2015-01-01,2016-01-01,Valid,Verified,96.563927,100.000000,96.563927,0.255550
1142091,Serbia,2015,2019-03-20T09:18:12.92Z,STA-RS0039A,SPO-RS0039A_00010_100,44.652336,20.931675,Carbon monoxide (air),Annual mean / 1 calendar year,RS.SEPA.AQ,mg.m-3,2015-01-01,2016-01-01,Valid,Verified,77.796804,100.000000,77.796804,0.497826
1142092,Serbia,2015,2019-03-20T09:18:12.92Z,STA-RS0041A,SPO-RS0041A_00010_100,44.273049,19.899006,Carbon monoxide (air),Annual mean / 1 calendar year,RS.SEPA.AQ,mg.m-3,2015-01-01,2016-01-01,Valid,Verified,92.636986,100.000000,92.636986,0.544719
1142093,Serbia,2015,2019-03-20T09:18:12.92Z,STA-RS0005R,SPO-RS0005R_00010_100,43.404011,21.947746,Carbon monoxide (air),Annual mean / 1 calendar year,RS.SEPA.AQ,mg.m-3,2015-01-01,2016-01-01,Valid,Verified,99.041096,100.000000,99.041096,0.406894
1142094,Serbia,2015,2019-03-20T09:18:12.92Z,STA-RS0034A,SPO-RS0034A_00010_100,45.821483,20.454008,Carbon monoxide (air),Annual mean / 1 calendar year,RS.SEPA.AQ,mg.m-3,2015-01-01,2016-01-01,Valid,Verified,95.742009,100.000000,95.742009,0.290276

In [49]:
df2=df1[df1.Validity=='Valid']
df2

,CountryOrTerritory,ReportingYear,UpdateTime,StationLocalId,SamplingPointLocalId,SamplingPoint_Latitude,SamplingPoint_Longitude,Pollutant,AggregationType,Namespace,Unit,BeginPosition,EndPosition,Validity,Verification,DataCoverage,DataCapture,TimeCoverage,AQValue
18897,Austria,2013,2020-01-08T16:54:38.703333Z,STA.05.2000,SPO.05.2000.1365.1.1,47.683056,13.100000,Sulphur dioxide (air),Annual mean / 1 calendar year,AT.0008.20.AQ,ug.m-3,2013-01-01,2014-01-01,Valid,Verified,95.399543,95.399543,100.000000,3.882676
18898,Austria,2013,2020-01-08T16:54:38.703333Z,STA.09.STAD,SPO.09.STAD.1539.1.1,48.226361,16.458345,Sulphur dioxide (air),Annual mean / 1 calendar year,AT.0008.20.AQ,ug.m-3,2013-01-01,2014-01-01,Valid,Verified,95.296804,95.296804,100.000000,3.955475
18899,Austria,2013,2020-01-08T16:54:38.703333Z,STA.06.136,SPO.06.136.1415.1.1,47.120278,15.351111,Sulphur dioxide (air),Annual mean / 1 calendar year,AT.0008.20.AQ,ug.m-3,2013-01-01,2014-01-01,Valid,Verified,95.582192,95.582192,100.000000,3.274889
18900,Austria,2013,2020-01-08T16:54:38.703333Z,STA.10.ENK1,SPO.10.ENK1.3569.1.1,48.391720,13.671140,Sulphur dioxide (air),Annual mean / 1 calendar year,AT.0008.20.AQ,ug.m-3,2013-01-01,2014-01-01,Valid,Verified,94.965753,94.965753,100.000000,0.951642
18901,Austria,2013,2020-01-08T16:54:38.703333Z,STA.10.VOR1,SPO.10.VOR1.126.1.1,46.678611,12.974444,Sulphur dioxide (air),Annual mean / 1 calendar year,AT.0008.20.AQ,ug.m-3,2013-01-01,2014-01-01,Valid,Verified,94.703196,94.703196,100.000000,0.283991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1142090,Serbia,2015,2019-03-20T09:18:12.92Z,STA-RS0038A,SPO-RS0038A_00010_100,44.717490,21.173399,Carbon monoxide (air),Annual mean / 1 calendar year,RS.SEPA.AQ,mg.m-3,2015-01-01,2016-01-01,Valid,Verified,96.563927,100.000000,96.563927,0.255550
1142091,Serbia,2015,2019-03-20T09:18:12.92Z,STA-RS0039A,SPO-RS0039A_00010_100,44.652336,20.931675,Carbon monoxide (air),Annual mean / 1 calendar year,RS.SEPA.AQ,mg.m-3,2015-01-01,2016-01-01,Valid,Verified,77.796804,100.000000,77.796804,0.497826
1142092,Serbia,2015,2019-03-20T09:18:12.92Z,STA-RS0041A,SPO-RS0041A_00010_100,44.273049,19.899006,Carbon monoxide (air),Annual mean / 1 calendar year,RS.SEPA.AQ,mg.m-3,2015-01-01,2016-01-01,Valid,Verified,92.636986,100.000000,92.636986,0.544719
1142093,Serbia,2015,2019-03-20T09:18:12.92Z,STA-RS0005R,SPO-RS0005R_00010_100,43.404011,21.947746,Carbon monoxide (air),Annual mean / 1 calendar year,RS.SEPA.AQ,mg.m-3,2015-01-01,2016-01-01,Valid,Verified,99.041096,100.000000,99.041096,0.406894
1142094,Serbia,2015,2019-03-20T09:18:12.92Z,STA-RS0034A,SPO-RS0034A_00010_100,45.821483,20.454008,Carbon monoxide (air),Annual mean / 1 calendar year,RS.SEPA.AQ,mg.m-3,2015-01-01,2016-01-01,Valid,Verified,95.742009,100.000000,95.742009,0.290276

In [71]:
df3=df2[df2.Verification=='Verified']
df3=df3.loc[:,["CountryOrTerritory","ReportingYear","SamplingPoint_Latitude","SamplingPoint_Longitude","Pollutant","Unit","DataCoverage","DataCapture","AQValue"]]
df_SO2=df3[df3.Pollutant=='Sulphur dioxide (air)']
df_PM10=df3[df3.Pollutant=='Particulate matter < 10 µm (aerosol)']
df_CO=df3[df3.Pollutant=='Carbon monoxide (air)']
df_O3=df3[df3.Pollutant=='Ozone (air)']
df_NO2=df3[df3.Pollutant=='Nitrogen dioxide (air)']
df_PM25=df3[df3.Pollutant=='Particulate matter < 2.5 µm (aerosol)']
df_PM25

,CountryOrTerritory,ReportingYear,SamplingPoint_Latitude,SamplingPoint_Longitude,Pollutant,Unit,DataCoverage,DataCapture,AQValue
19150,Austria,2013,48.205000,16.309750,Particulate matter < 2.5 µm (aerosol),ug.m-3,99.931507,99.931507,18.320850
19151,Austria,2013,48.219517,16.345552,Particulate matter < 2.5 µm (aerosol),ug.m-3,100.000000,100.000000,17.770663
19152,Austria,2013,47.840000,16.526674,Particulate matter < 2.5 µm (aerosol),ug.m-3,76.735160,100.000000,18.831301
19153,Austria,2013,46.835278,14.844174,Particulate matter < 2.5 µm (aerosol),ug.m-3,99.794521,100.000000,18.993032
19154,Austria,2013,46.828056,12.765570,Particulate matter < 2.5 µm (aerosol),ug.m-3,98.904110,100.000000,14.731219
...,...,...,...,...,...,...,...,...,...
1141572,Portugal,2015,37.871111,-8.723889,Particulate matter < 2.5 µm (aerosol),ug.m-3,95.456621,100.000000,4.723750
1141573,Portugal,2015,40.233056,-7.301944,Particulate matter < 2.5 µm (aerosol),ug.m-3,99.600457,100.000000,5.618681
1141574,Portugal,2015,37.015000,-7.926667,Particulate matter < 2.5 µm (aerosol),ug.m-3,85.605023,100.000000,11.912214
1141575,Portugal,2015,38.785000,-9.347222,Particulate matter < 2.5 µm (aerosol),ug.m-3,92.191781,100.000000,12.228132
1141576,Romania,2015,47.150951,27.581921,Particulate matter < 2.5 µm (aerosol),ug.m-3,90.684932,100.000000,23.184501

In [84]:
result1 = pd.merge(df_SO2, df_PM10, how='left', on=['CountryOrTerritory','ReportingYear','SamplingPoint_Latitude', 'SamplingPoint_Longitude'])
result2 = pd.merge(df_CO, df_O3, how='left', on=['CountryOrTerritory','ReportingYear','SamplingPoint_Latitude', 'SamplingPoint_Longitude'])
result3 = pd.merge(df_NO2, df_PM25, how='left', on=['CountryOrTerritory','ReportingYear','SamplingPoint_Latitude', 'SamplingPoint_Longitude'])
# data=df_SO2.join(df_PM10,df_CO)
# #data = result3.join([result1, result2])
# data
print(len(result1),len(result2),len(result3))
result4=pd.merge(result2, result1, how='left', on=['CountryOrTerritory','ReportingYear','SamplingPoint_Latitude', 'SamplingPoint_Longitude'])
result5=pd.merge(result4, result3, how='left', on=['CountryOrTerritory','ReportingYear','SamplingPoint_Latitude', 'SamplingPoint_Longitude'])
result5.to_csv("combined.csv",index=False)

10018 5414 18861

In [101]:
import pandas as pd
corona=pd.read_csv("Corona_DE.csv")
corona

                          city  cases  hospitalize  deaths  population
0                    Ahrweiler    729          NaN      30      317531
1            Aichach-Friedberg     35          NaN       0       34209
2              Alb-Donau-Kreis    931          NaN      53      188935
3             Altenburger Land    396          NaN       5      161834
4    Altenkirchen (Westerwald)    455          NaN      48      127880
..                         ...    ...          ...     ...         ...
391                   Würzburg    126          NaN       7      128705
392                   Würzburg     47          NaN       3       90118
393            Zollernalbkreis    501          NaN       9      196047
394                Zweibrücken    267          NaN      18      133596
395                    Zwickau    115          NaN       1      129727

[396 rows x 5 columns]

In [14]:
aqi=pd.read_csv("AQI_NL.csv")
aqi

,City,co,no2,o3,pm10,pm25,so2
0,Amsterdam,93.478632,347.401709,282.615385,365.743590,251.435897,116.871795
1,Breda,NaN,93.957265,61.188034,90.777778,65.136752,NaN
2,Dordrecht,NaN,116.529915,75.025641,115.504274,21.709402,NaN
3,Eindhoven,NaN,70.752137,69.145299,68.000000,22.974359,NaN
4,Groningen,NaN,46.811966,46.692308,45.982906,41.452991,NaN
5,Haarlem,46.427350,160.820513,75.547009,162.128205,134.461538,73.606838
6,Maastricht,NaN,84.717949,83.273504,82.692308,85.478632,28.196581
7,Nijmegen,23.788462,47.128205,46.538462,37.495727,45.247863,NaN
8,Rotterdam,NaN,276.333333,243.068376,272.324786,158.418803,21.820513
9,The Hague,NaN,117.179487,116.102564,112.333333,65.102564,40.439655
10,Utrecht,11.039216,98.760684,104.717949,96.145299,44.606838,44.888889

,Country,City,Co,No2,O3,PM10,PM25,So2,Cases,Hospitalize,Death,Population,Mortality_case,Mortality_polulation
0,Netherlands,Amsterdam,93.478632,347.401709,282.615385,365.743590,251.435897,116.871795,1628,504,135,872779,0.082924,0.000155
1,Netherlands,Breda,NaN,93.957265,61.188034,90.777778,65.136752,NaN,412,140,53,184271,0.128641,0.000288
2,Netherlands,Dordrecht,NaN,116.529915,75.025641,115.504274,21.709402,NaN,230,75,19,119300,0.082609,0.000159
3,Netherlands,Eindhoven,NaN,70.752137,69.145299,68.000000,22.974359,NaN,390,145,67,234456,0.171795,0.000286
4,Netherlands,Groningen,NaN,46.811966,46.692308,45.982906,41.452991,NaN,153,17,3,232922,0.019608,0.000013
5,Netherlands,Haarlem,46.427350,160.820513,75.547009,162.128205,134.461538,73.606838,233,56,46,162961,0.197425,0.000282
6,Netherlands,Maastricht,NaN,84.717949,83.273504,82.692308,85.478632,28.196581,572,160,70,121558,0.122378,0.000576
7,Netherlands,Nijmegen,23.788462,47.128205,46.538462,37.495727,45.247863,NaN,493,116,47,177698,0.095335,0.000264
8,Netherlands,Rotterdam,NaN,276.333333,243.068376,272.324786,158.418803,21.820513,1701,375,157,651376,0.092299,0.000241
9,Netherlands,The Hague,NaN,117.179487,116.102564,112.333333,65.102564,40.439655,958,261,107,545163,0.111691,0.000196
10,Netherlands,Utrecht,11.039216,98.760684,104.717949,96.145299,44.606838,44.888889,699,208,71,357694,0.101574,0.000198

In [109]:
aqi=pd.read_csv("NL_aqi_raw.csv")
corona=pd.read_csv("Corona_NL.csv")
result=pd.merge(aqi,corona,how='left',on=['city'])
result['mortality_case']=result.deaths/result.cases
result['mortality_population']=result.deaths/result.population
aqi=pd.read_csv("DE_aqi_raw.csv")
corona=pd.read_csv("Corona_DE.csv")
result2=pd.merge(aqi,corona,how='left',on=['city'])

result2['mortality_case']=result2.deaths/result2.cases
result2['mortality_population']=result2.deaths/result2.population
result2

# output
# output.to_csv("Corona_AQI.csv",index=False)

,country,city,co,humidity,no2,o3,pm10,pm25,pressure,so2,temperature,wind gust,wind speed,cases,hospitalize,deaths,population,mortality_case,mortality_population
0,Germany,Augsburg,0.1,73.707292,12.022222,19.838462,17.034188,NaN,1019.517708,NaN,4.702083,7.086885,2.941667,525,NaN,20,548433,0.038095,0.000036
1,Germany,Berlin,0.1,68.623711,10.919658,20.496581,16.213675,38.504273,1018.010309,1.071681,7.211340,8.052000,4.412329,3905,NaN,124,2030874,0.031754,0.000061
2,Germany,Dusseldorf,NaN,71.702062,12.652137,19.512821,16.452991,40.812500,1018.220619,3.971569,7.875258,6.755556,4.531507,117,NaN,9,80868,0.076923,0.000111
3,Germany,Darmstadt,NaN,72.470103,8.578632,19.163248,13.786325,37.145299,1019.823711,0.564356,7.436082,7.387671,3.069863,613,NaN,30,266413,0.048940,0.000113
4,Germany,Dresden,NaN,71.930612,7.940171,20.236752,14.991453,NaN,1019.700000,1.327193,5.835714,4.484416,1.412162,272,NaN,8,142631,0.029412,0.000056
5,Germany,Freiburg,NaN,72.126804,7.089744,27.376923,12.068376,32.666667,1018.874227,NaN,7.289691,6.950685,2.525676,1140,NaN,72,329708,0.063158,0.000218
6,Germany,Hamburg,0.1,72.029897,11.124786,19.818803,14.846154,38.965812,1017.555670,2.130172,6.787629,10.164062,4.247945,952,NaN,77,429479,0.080882,0.000179
7,Germany,Hannover,0.1,74.664286,8.760526,NaN,14.192982,NaN,1017.983673,NaN,7.728571,8.510811,2.945946,915,NaN,33,179116,0.036066,0.000184
8,Germany,Cologne,NaN,69.919588,11.272650,19.486325,15.603448,45.062500,1019.315464,NaN,8.434021,8.473973,3.543836,206,NaN,13,242165,0.063107,0.000054
9,Germany,Karlsruhe,NaN,68.498969,9.482906,20.191453,15.034188,41.000000,1017.107216,NaN,8.024742,4.641096,1.375676,1347,NaN,25,519751,0.018560,0.000048
10,Germany,Kassel,NaN,72.370833,10.029060,20.483186,16.000000,30.200000,1013.363542,0.574419,5.996875,6.064912,3.909722,899,NaN,46,376704,0.051168,0.000122
11,Germany,Münster,NaN,75.770103,10.398291,21.037931,17.700855,NaN,1018.201031,2.944828,7.867010,6.176712,1.497260,110,NaN,2,99845,0.018182,0.000020
12,Germany,Mainz,NaN,68.422917,NaN,NaN,18.282051,NaN,1019.719588,NaN,7.646392,4.133824,2.322535,322,NaN,9,120071,0.027950,0.000075
13,Germany,Munich,0.1,73.394845,13.783761,20.235897,16.341880,NaN,1019.875258,NaN,5.571134,5.378082,1.760274,427,NaN,5,419149,0.011710,0.000012
14,Germany,Potsdam,0.1,65.383505,8.059829,24.388889,12.829060,36.871795,1018.349485,1.444660,6.950515,4.838356,2.556164,281,NaN,8,260654,0.028470,0.000031
15,Germany,Stuttgart,NaN,73.290722,13.182051,19.244444,18.179487,44.504273,1019.422680,NaN,6.395876,4.473973,1.512162,119,NaN,4,171734,0.033613,0.000023
16,Germany,Wiesbaden,NaN,70.220619,13.717949,18.415385,14.623932,39.333333,1020.997938,0.589362,7.346392,4.726389,1.958904,482,NaN,10,183949,0.020747,0.000054

In [98]:
aqi=pd.read_csv("IT_aqi_raw.csv")
corona=pd.read_csv("Corona_IT.csv")
result3=pd.merge(aqi,corona,how='left',on=['city'])

,country,city,co,humidity,no2,o3,pm10,pm25,pressure,so2,temperature,wind gust,wind speed,cases,hospitalize,deaths,population,mortality_case,mortality_population
0,Netherlands,Amsterdam,2.907692,78.792157,9.741880,20.350427,17.162393,39.478632,1016.676471,0.332479,8.146000,10.437662,4.953846,1628,504.0,135.0,872779,0.082924,0.000155
1,Netherlands,Breda,NaN,74.526804,9.332479,20.295727,18.547009,34.564103,1017.407216,NaN,8.270103,7.280822,4.031507,412,140.0,53.0,184271,0.128641,0.000288
2,Netherlands,Dordrecht,NaN,77.685567,7.834188,21.156410,17.094017,34.196581,1018.441237,NaN,8.280412,13.220548,6.878082,230,75.0,19.0,119300,0.082609,0.000159
3,Netherlands,Eindhoven,NaN,73.664948,7.628205,21.194017,17.341880,41.188034,1018.130928,NaN,7.805155,10.475342,4.969863,390,145.0,67.0,234456,0.171795,0.000286
4,Netherlands,Groningen,NaN,81.370103,5.864103,23.543590,19.196581,27.777778,1016.680412,NaN,7.081443,8.042466,2.254795,153,17.0,3.0,232922,0.019608,0.000013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22,France,Saint-Étienne,NaN,71.768041,9.311111,19.675214,15.119658,40.282051,1019.987629,NaN,7.752577,4.750000,2.365753,1740,438.0,168.0,NaN,0.096552,NaN
23,France,Strasbourg,NaN,69.155670,10.627350,18.841880,18.820513,42.017094,1017.575258,NaN,8.696907,6.458904,3.142466,4659,911.0,479.0,NaN,0.102812,NaN
24,France,Toulon,NaN,67.344330,10.360684,26.318803,18.418803,39.657895,1019.250515,NaN,11.960825,8.727027,4.484932,1457,320.0,100.0,NaN,0.068634,NaN
25,France,Toulouse,NaN,70.350515,9.393162,22.595727,16.854701,43.905983,1020.341237,NaN,10.010309,6.461667,3.731507,1110,159.0,44.0,NaN,0.039640,NaN
26,France,Tours,0.100000,72.488660,5.512821,23.927350,16.529915,41.752137,1019.353608,NaN,8.108247,14.436207,9.589041,615,159.0,55.0,NaN,0.089431,NaN

In [107]:
result6=pd.read_csv("FR_corona_aqi.csv")

In [106]:
aqi=pd.read_csv("UK_aqi_raw.csv")
corona=pd.read_csv("Corona_UK.csv")
result4=pd.merge(aqi,corona,how='left',on=['city'])
result4

,country,city,co,humidity,no2,o3,pm10,pm25,pressure,so2,temperature,wind gust,wind speed,cases,hospitalize,deaths,population
0,United Kingdom,Belfast,1.450450,81.622449,14.012821,16.486726,14.905983,32.070175,1013.098980,1.395690,7.107143,11.203226,4.854054,NaN,NaN,NaN,NaN
1,United Kingdom,Birmingham,NaN,81.523711,7.814530,24.251282,12.863248,32.358974,1016.356701,1.289381,7.104124,8.383562,3.584932,2617.0,NaN,NaN,NaN
2,United Kingdom,Bristol,2.103093,81.368041,10.234188,22.001724,17.170940,41.846154,1017.343299,2.959184,8.139175,8.504110,3.127397,NaN,NaN,NaN,NaN
3,United Kingdom,Cardiff,2.044737,82.234694,8.384615,22.556410,15.512821,31.362832,1016.431633,3.128696,7.687755,11.181081,5.736486,NaN,NaN,NaN,NaN
4,United Kingdom,Coventry,NaN,81.730928,6.421368,24.747009,12.051282,31.256410,1016.118557,NaN,7.193814,8.026027,3.094521,NaN,NaN,NaN,NaN
5,United Kingdom,Edinburgh,0.877451,80.710101,6.905983,26.937607,8.452991,19.811966,1011.448485,2.386325,6.153535,14.772000,6.605333,NaN,NaN,NaN,NaN
6,United Kingdom,Glasgow,NaN,81.997087,9.020513,23.211111,9.863248,23.418803,1013.403883,2.315306,6.519417,9.900000,4.592405,NaN,NaN,NaN,NaN
7,United Kingdom,Leeds,3.705128,77.683333,9.882051,22.783186,14.385965,36.798246,1018.033333,2.029060,6.782292,10.907042,6.160274,1170.0,NaN,NaN,NaN
8,United Kingdom,Leicester,NaN,77.071134,9.417949,20.373504,12.490566,32.529915,1016.129897,2.142708,6.192784,10.665753,5.146575,577.0,NaN,NaN,NaN
9,United Kingdom,Liverpool,NaN,66.881443,5.494872,25.258120,13.521368,30.863248,1013.695876,3.086325,7.963918,10.656164,4.635616,1278.0,NaN,NaN,NaN
10,United Kingdom,London,4.793162,73.575510,13.483761,17.223077,17.333333,40.076923,1017.547959,2.523932,8.995918,12.810811,5.775676,23335.0,NaN,4542.0,NaN
11,United Kingdom,Luton,NaN,92.533333,NaN,NaN,NaN,NaN,1024.233333,NaN,3.666667,4.166667,2.466667,NaN,NaN,NaN,NaN
12,United Kingdom,Manchester,NaN,79.329000,11.082051,16.800862,16.991453,37.222222,1015.945000,4.625862,7.585000,7.101316,3.717105,975.0,NaN,NaN,547627.0
13,United Kingdom,Newport,2.097938,83.383673,8.034188,25.640171,14.811966,36.547009,1015.424490,2.955102,7.402041,9.991892,4.771233,NaN,NaN,NaN,NaN
14,United Kingdom,Norwich,NaN,88.605102,6.974359,23.767521,14.034188,37.444444,1016.683673,NaN,7.444898,4.250000,0.884127,NaN,NaN,NaN,NaN
15,United Kingdom,Plymouth,NaN,82.369072,6.689744,25.352991,17.608696,41.330435,1018.232990,NaN,8.439175,12.927692,6.223077,264.0,NaN,NaN,NaN
16,United Kingdom,Preston,NaN,77.606186,7.721368,23.136752,14.051282,34.119658,1015.261856,3.259000,7.320619,9.545205,5.472603,NaN,NaN,NaN,NaN
17,United Kingdom,Reading,NaN,72.778351,8.023077,21.711966,17.028302,29.122642,1016.850515,NaN,8.105155,7.835616,4.334247,NaN,NaN,NaN,NaN
18,United Kingdom,Sheffield,NaN,79.842268,8.005983,23.309402,12.393162,32.923077,1013.280412,NaN,6.754639,6.246575,1.550685,1875.0,NaN,NaN,NaN
19,United Kingdom,Southend-on-Sea,NaN,75.525510,5.508547,23.222222,14.358974,37.709402,1017.436735,1.444737,8.675510,5.527397,5.463514,NaN,NaN,NaN,NaN
20,United Kingdom,Swansea,2.958559,82.112621,6.674359,25.203478,20.410256,38.820513,1017.038835,3.254783,8.263107,12.206557,4.598734,NaN,NaN,NaN,NaN

In [110]:
aqi=pd.read_csv("ES_aqi_raw.csv")
corona=pd.read_csv("Corona_ES.csv")
result5=pd.merge(aqi,corona,how='left',on=['city'])
result5

,country,city,co,humidity,no2,o3,pm10,pm25,pressure,so2,temperature,wind gust,wind speed,cases,hospitalize,deaths,population,mortality_case,mortality_population
0,Spain,Barcelona,0.100000,76.617347,13.191453,19.831624,21.777778,NaN,1019.593878,1.134188,12.251020,7.560811,2.839189,NaN,NaN,NaN,NaN,0.096456,NaN
1,Spain,Burgos,0.100000,81.216495,5.600000,24.829565,13.299145,28.130435,1006.549485,2.212821,6.352577,9.753125,5.002740,NaN,NaN,NaN,NaN,0.102728,NaN
2,Spain,Castelló de la Plana,0.100000,72.526804,7.217925,23.910377,11.867925,31.461538,1019.901031,3.169903,12.718557,4.523288,2.426027,NaN,NaN,NaN,NaN,0.115404,NaN
3,Spain,Córdoba,3.313675,72.968041,6.347863,18.631624,19.269565,NaN,1019.719588,1.323077,12.135052,5.030000,1.878082,NaN,NaN,NaN,NaN,0.095960,NaN
4,Spain,Granada,2.503419,72.291753,14.349573,12.123077,22.905172,NaN,1017.542268,2.503419,10.165979,4.495890,1.553425,NaN,NaN,NaN,NaN,0.095960,NaN
5,Spain,Huelva,4.581197,71.897030,5.266667,24.662393,20.230769,NaN,1022.033663,2.274359,13.717822,5.193590,1.980519,NaN,NaN,NaN,NaN,0.095960,NaN
6,Spain,Las Palmas de Gran Canaria,0.140541,NaN,4.145536,28.411712,31.097345,34.180180,1019.418367,2.041964,18.079592,9.564789,8.116216,NaN,NaN,NaN,NaN,0.059813,NaN
7,Spain,Madrid,0.100000,67.231683,15.209402,16.403419,16.735043,42.760684,1018.176289,2.602564,10.198020,10.560256,4.714286,58191.0,6601.0,7765.0,NaN,0.133440,NaN
8,Spain,Málaga,2.317094,72.691753,6.303419,26.485470,18.636364,NaN,1019.286598,3.106838,14.044330,7.524658,3.897183,NaN,NaN,NaN,NaN,0.095960,NaN
9,Spain,Murcia,0.100000,66.298969,12.364103,14.966667,22.478632,NaN,1019.667010,2.323077,13.928866,5.038356,1.867123,NaN,NaN,NaN,NaN,0.085150,NaN
10,Spain,Oviedo,0.100000,81.837363,7.053125,16.518750,20.583333,45.812500,1019.481319,2.804167,11.291209,6.937313,3.686567,NaN,NaN,NaN,NaN,0.103402,NaN
11,Spain,Palma,3.972477,55.273196,4.375893,29.053982,17.964286,26.897196,1017.670103,1.583929,13.404124,5.156164,2.685135,NaN,NaN,NaN,NaN,0.059813,NaN
12,Spain,Pamplona,0.100000,75.767010,9.918803,15.369231,14.709402,NaN,1015.090722,2.202564,9.107216,7.758904,3.290411,NaN,NaN,NaN,NaN,0.091028,NaN
13,Spain,Salamanca,NaN,78.909278,5.163248,20.012821,13.598291,24.474138,1020.178351,1.845299,7.485567,6.537705,3.397260,NaN,NaN,NaN,NaN,0.102728,NaN
14,Spain,Santa Cruz de Tenerife,0.100000,64.332000,5.351786,26.574775,23.929204,35.459459,1022.834000,2.483929,15.744000,8.050000,4.060526,NaN,NaN,NaN,NaN,0.059813,NaN
15,Spain,Santander,0.100000,80.525510,6.680342,20.346154,25.102564,NaN,1020.416327,1.826733,12.193878,9.287838,4.448649,NaN,NaN,NaN,NaN,0.086618,NaN
16,Spain,Sevilla,3.598291,74.853608,7.017949,18.594017,16.478632,NaN,1019.226804,2.206897,14.398969,6.042466,2.542466,NaN,NaN,NaN,NaN,0.095960,NaN
17,Spain,Valladolid,0.100000,80.200952,7.175652,16.362832,14.913043,42.026316,1021.513333,2.452381,7.900000,8.697531,3.610000,NaN,NaN,NaN,NaN,0.102728,NaN
18,Spain,Zaragoza,1.860000,72.347423,9.703478,14.484348,9.947826,NaN,1020.768041,1.881739,9.851546,6.264384,2.746479,NaN,NaN,NaN,NaN,0.142798,NaN

In [9]:
aqi=pd.read_csv("US_aqi_raw.csv")
corona_us=pd.read_csv("Corona_US.csv")
result7=pd.merge(corona_us,aqi,how='left',on=['city'])
result7

,city,cases,hospitalize,deaths,population,mortality_case,mortality_population,country,co,humidity,no2,o3,pm10,pm25,pressure,so2,temperature,wind gust,wind speed
0,Atlanta,2436,NaN,88,NaN,0.036125,NaN,US,2.609402,71.308000,7.646154,20.082906,12.189655,32.444444,977.305000,0.274359,11.127000,4.450649,1.433333
1,Austin,12,NaN,0,NaN,0.000000,NaN,US,NaN,75.776923,NaN,19.025439,NaN,32.192982,1016.318269,NaN,15.700962,4.501250,1.638667
2,Baltimore,2132,NaN,71,NaN,0.033302,NaN,US,NaN,67.373958,10.235897,22.344444,8.979167,28.059829,1017.759375,1.788235,7.020833,4.569863,2.139189
3,Boston,8673,NaN,448,NaN,0.051655,NaN,US,2.501709,65.827083,6.624786,24.306838,NaN,25.111111,1015.494792,1.500000,4.169792,10.518056,4.377778
4,New York City,145855,NaN,16388,NaN,0.112358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Charlotte,178,NaN,12,NaN,0.067416,NaN,US,0.901724,70.615625,NaN,22.649573,11.900000,27.735043,1017.568750,1.500000,12.297917,3.881081,1.850000
6,Chicago,25811,NaN,1142,NaN,0.044245,NaN,US,2.671717,74.864583,8.075000,22.885470,12.620000,33.632479,1015.443750,0.329167,2.784375,8.545205,3.812500
7,Columbus,76,NaN,5,NaN,0.065789,NaN,US,1.802381,75.719792,7.074359,25.376316,NaN,29.529915,1016.173196,2.340000,5.486458,5.230137,2.638889
8,Dallas,2763,NaN,72,NaN,0.026059,NaN,US,NaN,74.211224,NaN,19.512174,NaN,29.607477,1016.436735,NaN,14.150000,9.856579,5.136000
9,Denver,2172,NaN,98,NaN,0.045120,NaN,US,2.567241,46.511340,8.592241,11.646552,16.215517,26.362069,1014.744792,0.690361,4.458763,4.426027,3.673973
10,Detroit,14994,NaN,1396,NaN,0.093104,NaN,US,3.790323,78.194118,7.822581,21.991453,13.299145,31.786325,1017.112745,2.307143,3.295876,4.415385,6.092208
11,El Paso,798,NaN,55,NaN,0.068922,NaN,US,NaN,38.693939,5.566379,25.223932,16.119658,21.410256,1015.356566,NaN,13.255556,5.285333,2.674667
12,Fort Worth,1559,NaN,45,NaN,0.028865,NaN,US,NaN,71.406383,NaN,19.459649,NaN,25.380531,1017.726596,NaN,13.130851,7.394030,2.971429
13,Fresno,419,NaN,7,NaN,0.016706,NaN,US,3.308621,73.032292,9.304310,16.774138,20.715517,42.275862,1019.322917,1.500000,11.663542,3.600000,1.727778
14,Hartford,4303,NaN,469,NaN,0.108994,NaN,US,2.617949,61.256250,4.641026,12.041026,11.418803,27.863248,1015.298958,NaN,4.784375,4.504545,2.488732
15,Honolulu,389,NaN,7,NaN,0.017995,NaN,US,7.343000,73.490625,NaN,23.508621,11.594828,18.629310,1016.138542,7.600000,22.221875,6.041429,3.013889
16,Houston,6167,NaN,109,NaN,0.017675,NaN,US,NaN,76.677778,NaN,18.824138,NaN,33.672414,1017.659596,NaN,17.857576,6.838158,3.217105
17,Indianapolis,4408,NaN,228,NaN,0.051724,NaN,US,2.306838,76.927551,7.829915,20.741026,14.769231,35.632479,1015.431633,1.573684,4.230303,6.906667,2.373333
18,Jacksonville,956,NaN,17,NaN,0.017782,NaN,US,4.376068,73.268627,4.032479,12.273504,16.820513,35.290598,1018.440196,0.500000,18.029412,3.451250,1.528750
19,Las Vegas,3314,NaN,163,NaN,0.049185,NaN,US,0.100000,39.627083,7.583621,12.906897,15.327586,22.525862,1016.691667,0.527586,12.385417,6.431944,2.741667
20,Little Rock,427,NaN,12,NaN,0.028103,NaN,US,NaN,70.575789,NaN,19.612069,NaN,28.854701,1019.037895,NaN,10.908421,6.622388,3.290541
21,Los Angeles,17537,NaN,797,NaN,0.045447,NaN,US,4.450000,71.042268,18.934483,15.731034,24.097345,42.224138,1017.738144,1.500000,13.876289,2.061644,1.535135
22,Madison,235,NaN,13,NaN,0.055319,NaN,US,NaN,73.087500,NaN,25.852542,13.290598,36.051282,1016.836458,0.344231,1.653125,5.488889,2.911111
23,Memphis,1953,NaN,44,NaN,0.022529,NaN,US,NaN,77.904167,NaN,21.580342,NaN,28.752137,1017.756250,NaN,11.569792,5.288889,2.365753
24,Miami,134,NaN,23,NaN,0.171642,NaN,US,1.515044,74.629897,NaN,13.151282,19.362069,30.042735,1018.809278,0.632323,22.657732,7.695890,2.628767
25,Milwaukee,2382,NaN,150,NaN,0.062972,NaN,US,2.724786,74.897938,8.569231,23.366667,12.769231,34.589744,1016.535052,0.312150,1.707216,5.694595,2.766667
26,Nashville,1934,NaN,21,NaN,0.010858,NaN,US,NaN,70.258252,NaN,18.632500,NaN,28.435897,1012.251456,NaN,11.280583,6.911392,3.449367
27,Oakland,6634,NaN,567,NaN,0.085469,NaN,US,4.451724,77.601042,10.418103,19.795690,NaN,28.370690,1018.825000,1.586420,11.295833,4.071622,2.250685
28,Oklahoma City,773,NaN,31,NaN,0.040103,NaN,US,5.575862,69.306122,6.448718,23.452137,14.068376,30.452991,1017.172449,1.500000,10.832653,8.485714,5.159459
29,Omaha,327,NaN,10,NaN,0.030581,NaN,US,2.123932,70.107216,NaN,19.284615,13.529915,27.478632,1016.540206,2.340000,3.477320,6.591781,2.413514
30,Philadelphia,11226,NaN,443,NaN,0.039462,NaN,US,3.515789,66.460606,7.442735,23.238462,NaN,33.666667,1016.781818,1.816129,6.720202,5.634211,2.305405
31,Phoenix,2970,NaN,115,NaN,0.038721,NaN,US,4.644444,39.198969,9.780172,17.581197,15.641026,27.547009,1015.563918,0.132710,15.905155,3.689333,1.386667
32,Portland,582,NaN,33,NaN,0.056701,NaN,US,1.679310,77.223469,8.293103,5.934483,NaN,19.991379,1017.884694,0.300870,8.054082,4.296000,3.894667
33,Providence,4350,NaN,0,NaN,0.000000,NaN,US,4.034783,69.182292,11.395652,28.281982,NaN,22.706897,1014.231250,1.566667,4.818750,4.827778,1.627027
34,Raleigh,8,NaN,0,NaN,0.000000,NaN,US,2.645299,68.722917,5.973504,23.957265,10.988506,26.632479,1018.210417,1.500000,12.165625,4.981081,1.767123
35,Richmond,335,NaN,14,NaN,0.041791,NaN,US,0.100000,69.363265,1.743966,14.403571,NaN,22.666667,1017.480612,0.182051,9.678571,4.450685,1.540000
36,Sacramento,987,NaN,41,NaN,0.041540,NaN,US,NaN,75.335052,2.971053,18.217241,16.615385,24.803571,1019.645361,NaN,11.039175,5.131507,2.264384
37,Salem,164,NaN,6,NaN,0.036585,NaN,US,NaN,85.074227,NaN,NaN,NaN,19.939655,1020.107216,NaN,7.774227,4.779730,2.004000
38,Salt Lake City,1889,NaN,20,NaN,0.010588,NaN,US,1.376699,53.929897,12.795727,22.176068,NaN,18.846154,1015.098969,NaN,5.878351,4.997260,1.617808
39,San Antonio,1167,NaN,43,NaN,0.036847,NaN,US,NaN,70.504211,NaN,21.458621,NaN,32.657895,1016.768421,NaN,16.854737,6.773973,2.763889
40,San Diego,2643,NaN,100,NaN,0.037836,NaN,US,4.900000,72.296000,11.466667,15.634615,NaN,42.865385,1015.928000,NaN,11.352000,2.996000,1.191667
41,San Francisco,1302,NaN,21,NaN,0.016129,NaN,US,3.947414,75.636082,7.508621,21.698276,NaN,27.405172,1019.703125,1.634043,11.335052,5.975676,2.455405
42,San Jose,1987,NaN,95,NaN,0.047811,NaN,US,4.166379,76.255670,9.618966,20.776724,10.091837,26.818966,1019.419588,1.585714,10.738144,3.694595,1.727397
43,Seattle,6207,NaN,447,NaN,0.072015,NaN,US,2.653448,78.703093,10.831897,20.321552,NaN,21.232759,1017.714433,2.802500,7.204124,6.071622,2.621622
44,Tallahassee,191,NaN,2,NaN,0.010471,NaN,US,1.383951,69.469072,NaN,11.869828,NaN,35.606838,1019.157732,0.221111,16.660825,5.282432,2.488000
45,Tucson,1026,NaN,70,NaN,0.068226,NaN,US,2.162609,43.725773,7.364912,22.002564,16.538462,18.000000,1015.951546,0.217000,14.218557,4.015068,1.559459
46,Washington D.C.,3361,NaN,139,NaN,0.041357,NaN,US,1.764103,68.146875,6.321368,17.835897,NaN,24.034188,1016.633333,0.184112,8.487500,4.320548,1.920270

In [11]:
result=pd.read_csv("Corona_AQI_raw_0426.csv")
frames =[result,result7]
output=pd.concat(frames)
output.to_csv("Corona_AQI_raw_0501.csv",index=False,encoding='utf-8')
output

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,cases,city,co,country,deaths,hospitalize,humidity,mortality_case,mortality_population,no2,o3,pm10,pm25,population,pressure,so2,temperature,wind gust,wind speed
0,1628.0,Amsterdam,2.907692,Netherlands,135.0,504.0,78.792157,0.082924,0.000155,9.741880,20.350427,17.162393,39.478632,872779,1016.676471,0.332479,8.146000,10.437662,4.953846
1,412.0,Breda,NaN,Netherlands,53.0,140.0,74.526804,0.128641,0.000288,9.332479,20.295727,18.547009,34.564103,184271,1017.407216,NaN,8.270103,7.280822,4.031507
2,230.0,Dordrecht,NaN,Netherlands,19.0,75.0,77.685567,0.082609,0.000159,7.834188,21.156410,17.094017,34.196581,119300,1018.441237,NaN,8.280412,13.220548,6.878082
3,390.0,Eindhoven,NaN,Netherlands,67.0,145.0,73.664948,0.171795,0.000286,7.628205,21.194017,17.341880,41.188034,234456,1018.130928,NaN,7.805155,10.475342,4.969863
4,153.0,Groningen,NaN,Netherlands,3.0,17.0,81.370103,0.019608,0.000013,5.864103,23.543590,19.196581,27.777778,232922,1016.680412,NaN,7.081443,8.042466,2.254795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,1987.0,San Jose,4.166379,US,95.0,NaN,76.255670,0.047811,NaN,9.618966,20.776724,10.091837,26.818966,NaN,1019.419588,1.585714,10.738144,3.694595,1.727397
43,6207.0,Seattle,2.653448,US,447.0,NaN,78.703093,0.072015,NaN,10.831897,20.321552,NaN,21.232759,NaN,1017.714433,2.802500,7.204124,6.071622,2.621622
44,191.0,Tallahassee,1.383951,US,2.0,NaN,69.469072,0.010471,NaN,NaN,11.869828,NaN,35.606838,NaN,1019.157732,0.221111,16.660825,5.282432,2.488000
45,1026.0,Tucson,2.162609,US,70.0,NaN,43.725773,0.068226,NaN,7.364912,22.002564,16.538462,18.000000,NaN,1015.951546,0.217000,14.218557,4.015068,1.559459
46,3361.0,Washington D.C.,1.764103,US,139.0,NaN,68.146875,0.041357,NaN,6.321368,17.835897,NaN,24.034188,NaN,1016.633333,0.184112,8.487500,4.320548,1.920270