In [22]:
import pandas as pd
Mobi=pd.read_csv("France_Mobi.csv", header=None)
Mobi=Mobi.T
Mobi.columns=['date','driving','transit','walking']
Corona=pd.read_csv("France_Corona.csv")
Mobi

                    date         driving         transit         walking
0               geo_type  country/region  country/region  country/region
1                 region          France          France          France
2    transportation_type         driving         transit         walking
3       alternative_name             NaN             NaN             NaN
4             2020-01-13             100             100             100
..                   ...             ...             ...             ...
117           2020-05-05           44.33           21.67            22.3
118           2020-05-06           46.14           22.83           24.78
119           2020-05-07           46.95           23.46           25.53
120           2020-05-08           38.27           22.11           21.98
121           2020-05-09            38.7           21.52           22.07

[122 rows x 4 columns]

In [25]:
#Corona["date"][13]==Mobi["date"][4]

True

In [26]:
df= pd.merge(Corona, Mobi, on=['date'])
df['days']=0
df

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,...,cvd_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_100k,driving,transit,walking,days
0,FRA,France,2020-01-13,0,0,0,0,0.000,0.000,0.000,...,86.06,4.77,30.1,35.6,NaN,5.98,100,100,100,0
1,FRA,France,2020-01-14,0,0,0,0,0.000,0.000,0.000,...,86.06,4.77,30.1,35.6,NaN,5.98,101.6,100.31,105.95,0
2,FRA,France,2020-01-15,0,0,0,0,0.000,0.000,0.000,...,86.06,4.77,30.1,35.6,NaN,5.98,104.67,102.48,108.49,0
3,FRA,France,2020-01-16,0,0,0,0,0.000,0.000,0.000,...,86.06,4.77,30.1,35.6,NaN,5.98,107.25,103.75,121.22,0
4,FRA,France,2020-01-17,0,0,0,0,0.000,0.000,0.000,...,86.06,4.77,30.1,35.6,NaN,5.98,112.07,106.97,117.98,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,FRA,France,2020-05-05,131863,576,25201,306,2020.161,8.824,386.083,...,86.06,4.77,30.1,35.6,NaN,5.98,44.33,21.67,22.3,0
114,FRA,France,2020-05-06,132967,1104,25531,330,2037.074,16.913,391.139,...,86.06,4.77,30.1,35.6,NaN,5.98,46.14,22.83,24.78,0
115,FRA,France,2020-05-07,137150,4183,25809,278,2101.159,64.084,395.398,...,86.06,4.77,30.1,35.6,NaN,5.98,46.95,23.46,25.53,0
116,FRA,France,2020-05-08,137779,629,25987,178,2110.795,9.636,398.125,...,86.06,4.77,30.1,35.6,NaN,5.98,38.27,22.11,21.98,0
117,FRA,France,2020-05-09,138421,642,26230,243,2120.630,9.836,401.848,...,86.06,4.77,30.1,35.6,NaN,5.98,38.7,21.52,22.07,0

In [27]:
num=1
# Here we only care for the date that has more than one hundreds cases
for i in range(len(df)):
    if df['total_cases'][i]>100:
        #print(df["date"][i])
        df["days"][i]=num
        num+=1

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [30]:
df=df[df['days']>0]
df.to_csv('France.csv')
#df

In [86]:
import pandas as pd
name="India"
Mobi=pd.read_csv(name+"_Mobi.csv", header=None)

Corona=pd.read_csv(name+"_Corona.csv")
Corona
Mobi=Mobi.T
Mobi.columns=['date','driving','walking']
Mobi


df= pd.merge(Corona, Mobi, on=['date'])
df
df['transit']=0
df['days']=0

num=1
# Here we only care for the date that has more than one hundreds cases
for i in range(len(df)):
    if df['total_cases'][i]>100:
        #print(df["date"][i])
        df["days"][i]=num
        num+=1
df=df[df['days']>0]
df
#df.to_csv(name+'.csv')

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy